In [186]:
import numpy as np
import pandas as pd

In [187]:
np.random.seed(0)  # Nur zur Übung, damit die Zufallszahlen reproduzierbar sind

SERIES

In [188]:
data = [10, 20, 30, 40]
series = pd.Series(data)
print("Einfache Series:")
print(series)

Einfache Series:
0    10
1    20
2    30
3    40
dtype: int64

In [189]:
index = ['a', 'b', 'c', 'd']
series_format = pd.Series(data, index=index)
print("Series mit Index:")
print(series_format)

Series mit Index:
a    10
b    20
c    30
d    40
dtype: int64

In [190]:
data_dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
series_dict = pd.Series(data_dict)
print("Series aus Dictionary:")
print(series_dict)

Series aus Dictionary:
a    10
b    20
c    30
d    40
dtype: int64

In [191]:
print("Element an Position 'b':")
print(series_dict['b'])  # Ausgabe: 20

Element an Position 'b':
20

In [192]:
print("Elemente an Position 'a' und 'c':")
print(series_dict[['a', 'c']])

Elemente an Position 'a' und 'c':
a    10
c    30
dtype: int64

In [193]:
data_nan = [10, 20, None, 40]
series_nan = pd.Series(data_nan)
print("Series mit NaN:")
print(series_nan)

Series mit NaN:
0    10.0
1    20.0
2     NaN
3    40.0
dtype: float64

DATAFRAMES

In [194]:
# Zuweisung von Zufallszahlen zu einem DataFrame
data = np.random.randint(-100, 100, (5, 4))
df = pd.DataFrame(data)
print("DataFrame aus Zufallszahlen:")
print(df)

DataFrame aus Zufallszahlen:
    0   1   2   3
0  72 -53  17  92
1 -33  95   3 -91
2 -79 -64 -13 -30
3 -12  40 -42  93
4 -61 -13  74 -12

In [195]:
columns = ["A", "B", "C", "D"]
index = ["Z1", "Z2", "Z3", "Z4", "Z5"]
df_format = pd.DataFrame(data, columns=columns, index=index)
print("DataFrame mit Spalten- und Zeilenbezeichnungen:")
print(df_format)

DataFrame mit Spalten- und Zeilenbezeichnungen:
     A   B   C   D
Z1  72 -53  17  92
Z2 -33  95   3 -91
Z3 -79 -64 -13 -30
Z4 -12  40 -42  93
Z5 -61 -13  74 -12

In [196]:
df_format_drop = df_format.drop("A", axis=1)
print("DataFrame mit gelöschter Spalte A:")
print(df_format_drop)

DataFrame mit gelöschter Spalte A:
     B   C   D
Z1 -53  17  92
Z2  95   3 -91
Z3 -64 -13 -30
Z4  40 -42  93
Z5 -13  74 -12

In [197]:
# Zugriff auf Zeile "Z3"
print("Zeile Z3:")
print(df_format.loc["Z3"])

Zeile Z3:
A   -79
B   -64
C   -13
D   -30
Name: Z3, dtype: int64

In [198]:
print("Zeilen Z1 und Z2, Spalten A und C:")
print(df_format.loc[["Z1", "Z2"], ["A", "C"]])

Zeilen Z1 und Z2, Spalten A und C:
     A   C
Z1  72  17
Z2 -33   3

In [199]:
print("Zeile an Position 2:")
print(df_format.iloc[2])

Zeile an Position 2:
A   -79
B   -64
C   -13
D   -30
Name: Z3, dtype: int64

In [200]:
print("Zeilen 0 und 1, Spalten 0 und 2:")
print(df_format.iloc[0:2, [0, 2]])

Zeilen 0 und 1, Spalten 0 und 2:
     A   C
Z1  72  17
Z2 -33   3

In [201]:
print("Wert an Zeile 3, Spalte 1:")
print(df_format.iloc[3, 1])

Wert an Zeile 3, Spalte 1:
40

DATAFRAME - Logik

In [202]:
print("DataFrame mit Boolean anstelle von Werten:")
print(df_format > 0)

DataFrame mit Boolean anstelle von Werten:
        A      B      C      D
Z1   True  False   True   True
Z2  False   True   True  False
Z3  False  False  False  False
Z4  False   True  False   True
Z5  False  False   True  False

In [203]:
print("DataFrame mit Werten größer als 0:")
print(df_format[df_format > 0])

DataFrame mit Werten größer als 0:
       A     B     C     D
Z1  72.0   NaN  17.0  92.0
Z2   NaN  95.0   3.0   NaN
Z3   NaN   NaN   NaN   NaN
Z4   NaN  40.0   NaN  93.0
Z5   NaN   NaN  74.0   NaN

In [204]:
print("Werte größer als 0 in Spalte A:")
print(df_format[df_format["A"] > 0])

Werte größer als 0 in Spalte A:
     A   B   C   D
Z1  72 -53  17  92

In [205]:
print("Werte größer als 0 in Spalte A und dann nur Spalte B und D:")
print(df_format[df_format["A"] > 0][["B", "D"]])

Werte größer als 0 in Spalte A und dann nur Spalte B und D:
     B   D
Z1 -53  92

In [206]:
print("Werte größer als 0 in Spalte A oder C:")
print(df_format[(df_format["A"] > 0) | (df_format["C"] > 0)])

Werte größer als 0 in Spalte A oder C:
     A   B   C   D
Z1  72 -53  17  92
Z2 -33  95   3 -91
Z5 -61 -13  74 -12

DATAFRAME - Index und Zusammenfassungen

In [207]:
new_index = ["N1", "N2", "N3", "N4", "N5"]
df_format.index = new_index
print("DataFrame mit neuem Index:")
print(df_format)

DataFrame mit neuem Index:
     A   B   C   D
N1  72 -53  17  92
N2 -33  95   3 -91
N3 -79 -64 -13 -30
N4 -12  40 -42  93
N5 -61 -13  74 -12

In [208]:
print("Statistische Kennzahlen der Daten:")
print(df_format.describe())

Statistische Kennzahlen der Daten:
               A          B          C          D
count   5.000000   5.000000   5.000000   5.000000
mean  -22.600000   1.000000   7.800000  10.400000
std    58.790305  66.509398  43.019763  80.463035
min   -79.000000 -64.000000 -42.000000 -91.000000
25%   -61.000000 -53.000000 -13.000000 -30.000000
50%   -33.000000 -13.000000   3.000000 -12.000000
75%   -12.000000  40.000000  17.000000  92.000000
max    72.000000  95.000000  74.000000  93.000000

In [209]:
print("Informationen zum DataFrame:")
print(df_format.info())

Informationen zum DataFrame:
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, N1 to N5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
 2   C       5 non-null      int64
 3   D       5 non-null      int64
dtypes: int64(4)
memory usage: 200.0+ bytes
None

In [210]:
print("Datentypen der Spalten:")
print(df_format.dtypes)

Datentypen der Spalten:
A    int64
B    int64
C    int64
D    int64
dtype: object

DATAFRAME - Standardoperationen

In [211]:
print("Summe der Werte in den Spalten:")
print(df_format.sum())

Summe der Werte in den Spalten:
A   -113
B      5
C     39
D     52
dtype: int64

In [212]:
print("Mittelwert der Werte in den Spalten:")
print(df_format.mean())  # Alternativ für Zeilen: df_format.mean(axis=1)

Mittelwert der Werte in den Spalten:
A   -22.6
B     1.0
C     7.8
D    10.4
dtype: float64

In [213]:
print("Minimum der Werte in den Spalten:")
print(df_format.min())  # Alternativ für Zeilen: df_format.min(axis=1)

Minimum der Werte in den Spalten:
A   -79
B   -64
C   -42
D   -91
dtype: int64

In [214]:
print("Maximum der Werte in den Spalten:")
print(df_format.max())  # Alternativ für Zeilen: df_format.max(axis=1)

Maximum der Werte in den Spalten:
A    72
B    95
C    74
D    93
dtype: int64

In [215]:
print("Median der Werte in den Spalten:")
print(df_format.median())  # Alternativ für Zeilen: df_format.median(axis=1)

Median der Werte in den Spalten:
A   -33.0
B   -13.0
C     3.0
D   -12.0
dtype: float64

In [216]:
print("Standardabweichung der Werte in den Spalten:")
print(df_format.std())  # Alternativ für Zeilen: df_format.std(axis=1)

Standardabweichung der Werte in den Spalten:
A    58.790305
B    66.509398
C    43.019763
D    80.463035
dtype: float64

In [217]:
print("Kumulative Summe der Werte in den Spalten:")
print(df_format.cumsum())

Kumulative Summe der Werte in den Spalten:
      A   B   C   D
N1   72 -53  17  92
N2   39  42  20   1
N3  -40 -22   7 -29
N4  -52  18 -35  64
N5 -113   5  39  52

DATAFRAME - Umgehen mit NaN Werten

In [218]:
data_nan = pd.DataFrame({"A": [10, np.nan, np.nan, 40], "B": [1, np.nan, 3, 4], "C": [1, 2, 3, 4]})
print("DataFrame mit NaN:")
print(data_nan)

DataFrame mit NaN:
      A    B  C
0  10.0  1.0  1
1   NaN  NaN  2
2   NaN  3.0  3
3  40.0  4.0  4

In [219]:
print("(Blindes) Entfernen aller NaN Werte nach Zeilen:")
print(data_nan.dropna())

(Blindes) Entfernen aller NaN Werte nach Zeilen:
      A    B  C
0  10.0  1.0  1
3  40.0  4.0  4

In [220]:
print("(Blindes) Entfernen aller NaN Werte nach Spalten:")
print(data_nan.dropna(axis=1))

(Blindes) Entfernen aller NaN Werte nach Spalten:
   C
0  1
1  2
2  3
3  4

In [221]:
print("Behalten nur der Zeilen, die mindestens 2 nicht NaN Werte enthalten:")
print(data_nan.dropna(thresh=2))

Behalten nur der Zeilen, die mindestens 2 nicht NaN Werte enthalten:
      A    B  C
0  10.0  1.0  1
2   NaN  3.0  3
3  40.0  4.0  4

In [222]:
print("Ersetzen aller NaN Werte durch 0:")
print(data_nan.fillna(0))

Ersetzen aller NaN Werte durch 0:
      A    B  C
0  10.0  1.0  1
1   0.0  0.0  2
2   0.0  3.0  3
3  40.0  4.0  4

In [223]:
print("Ersetzen aller NaN Werte in Spalte A durch 0:")
print(data_nan.fillna({"A": 0}))

Ersetzen aller NaN Werte in Spalte A durch 0:
      A    B  C
0  10.0  1.0  1
1   0.0  NaN  2
2   0.0  3.0  3
3  40.0  4.0  4

DATAFRAME - Gruppierung

In [224]:
orgs_df = pd.read_csv("organizations-1000.csv")  # s. https://www.datablist.com/learn/csv/download-sample-csv-files
print("Übersicht der Daten:")
print(orgs_df.head())

Übersicht der Daten:
   Index  Organization Id           Name                       Website  \
0      1  E84A904909dF528     Liu-Hoover   http://www.day-hartman.org/
1      2  AAC4f9aBF86EAeF  Orr-Armstrong      https://www.chapman.net/
2      3  ad2eb3C8C24DB87      Gill-Lamb               http://lin.com/
3      4  D76BB12E5eE165B    Bauer-Weiss  https://gillespie-stout.com/
4      5  2F31EddF2Db9aAE    Love-Palmer           https://kramer.com/

                    Country                                   Description  \
0            Western Sahara  Ergonomic zero administration knowledge user
1                   Algeria        Ergonomic radical budgetary management
2             Cote d'Ivoire      Programmable intermediate conglomeration
3  United States of America              Synergistic maximized definition
4                   Denmark                Optimized optimizing moderator

   Founded               Industry  Number of employees
0     1980      Online Publishing                 6852
1     1970        Import / Export                 7994
2     2005      Apparel / Fashion                 5105
3     2015                  Dairy                 9069
4     2010  Management Consulting                 6991

In [225]:
print("Gruppierung nach Gründungsjahr:")
print(orgs_df.groupby("Founded").size())

Gruppierung nach Gründungsjahr:
Founded
1970    22
1971    18
1972    24
1973    20
1974    13
1975    25
1976    22
1977    12
1978    11
1979    18
1980    15
1981    23
1982    16
1983    18
1984    19
1985    18
1986    17
1987    27
1988    24
1989    16
1990    14
1991    19
1992    16
1993    19
1994    26
1995    17
1996    13
1997    25
1998    27
1999    21
2000    14
2001    17
2002    18
2003    17
2004    17
2005    18
2006    24
2007    21
2008    12
2009    29
2010    19
2011    19
2012    14
2013    24
2014    25
2015    18
2016    27
2017    11
2018    19
2019    25
2020    18
2021    17
2022     2
dtype: int64

In [226]:
print("Gruppierung nach Gründungsjahr und absteigend nach index sortiert:")
print(orgs_df.groupby("Founded").size().sort_index(ascending=False))

Gruppierung nach Gründungsjahr und absteigend nach index sortiert:
Founded
2022     2
2021    17
2020    18
2019    25
2018    19
2017    11
2016    27
2015    18
2014    25
2013    24
2012    14
2011    19
2010    19
2009    29
2008    12
2007    21
2006    24
2005    18
2004    17
2003    17
2002    18
2001    17
2000    14
1999    21
1998    27
1997    25
1996    13
1995    17
1994    26
1993    19
1992    16
1991    19
1990    14
1989    16
1988    24
1987    27
1986    17
1985    18
1984    19
1983    18
1982    16
1981    23
1980    15
1979    18
1978    11
1977    12
1976    22
1975    25
1974    13
1973    20
1972    24
1971    18
1970    22
dtype: int64

In [227]:
print("Gruppierung nach Gründungsjahr und absteigend nach Werten sortiert:")
print(orgs_df.groupby("Founded").size().sort_values(ascending=False))

Gruppierung nach Gründungsjahr und absteigend nach Werten sortiert:
Founded
2009    29
1998    27
1987    27
2016    27
1994    26
1997    25
2014    25
1975    25
2019    25
2006    24
1972    24
2013    24
1988    24
1981    23
1976    22
1970    22
2007    21
1999    21
1973    20
2018    19
2010    19
2011    19
1993    19
1991    19
1984    19
2015    18
1971    18
2020    18
1979    18
1983    18
1985    18
2002    18
2005    18
2021    17
2004    17
2003    17
2001    17
1986    17
1995    17
1982    16
1989    16
1992    16
1980    15
2000    14
2012    14
1990    14
1996    13
1974    13
2008    12
1977    12
2017    11
1978    11
2022     2
dtype: int64

In [228]:
print("Gruppierung nach Gründungsjahr und Sitzland:")
print(orgs_df.groupby(["Founded", "Country"]).size())

Gruppierung nach Gründungsjahr und Sitzland:
Founded  Country
1970     Algeria                              1
         Argentina                            1
         Aruba                                1
         Bahrain                              1
         Bulgaria                             1
                                             ..
2021     Somalia                              1
         Tonga                                1
         Vietnam                              1
2022     Chile                                1
         Heard Island and McDonald Islands    1
Length: 965, dtype: int64

In [229]:
print("Durchschnittliche Anzahl an Mitarbeitern nach Sitzland:")
print(orgs_df.groupby("Country")["Number of employees"].mean())

Durchschnittliche Anzahl an Mitarbeitern nach Sitzland:
Country
Afghanistan          3748.000000
Albania              1477.500000
Algeria              4986.000000
American Samoa       4669.375000
Andorra              6098.600000
                        ...
Wallis and Futuna    7614.500000
Western Sahara       5624.875000
Yemen                4528.875000
Zambia               5801.666667
Zimbabwe             3732.666667
Name: Number of employees, Length: 238, dtype: float64

In [230]:
print("Statistische Kennzahlen der Anzahl an Mitarbeitern gruppiert nach Gründungsjahr:")
print(orgs_df.groupby("Founded")["Number of employees"].describe())

Statistische Kennzahlen der Anzahl an Mitarbeitern gruppiert nach Gründungsjahr:
         count         mean          std     min      25%     50%      75%  \
Founded
1970      22.0  4858.545455  2674.516347   313.0  3246.75  4902.0  6653.75
1971      18.0  5479.666667  3135.106340    38.0  3468.00  6077.5  7735.75
1972      24.0  4332.833333  3067.927918    68.0  1743.00  3986.0  6839.75
1973      20.0  5064.600000  2802.089885   795.0  3274.00  4709.5  6804.00
1974      13.0  4254.384615  2524.911666   168.0  3081.00  3389.0  5247.00
1975      25.0  5299.960000  2931.864516    36.0  3238.00  5650.0  7663.00
1976      22.0  4640.909091  3017.683311  1018.0  2487.50  3849.0  5584.50
1977      12.0  3696.083333  3152.877227   321.0  1519.50  2300.0  6594.75
1978      11.0  4261.727273  2957.485760    28.0  2145.50  4953.0  6147.50
1979      18.0  4361.444444  3291.074636   361.0   960.75  3772.0  7558.25
1980      15.0  4630.600000  2876.438914    36.0  2601.00  3512.0  6837.00
1981      23.0  5380.956522  2332.553195   802.0  4679.50  5842.0  7100.00
1982      16.0  4601.687500  2646.990611    20.0  2036.75  4970.5  6130.00
1983      18.0  4666.777778  2593.831859   226.0  2790.50  5038.5  6658.75
1984      19.0  5510.315789  3465.385357   674.0  2503.00  5311.0  9186.00
1985      18.0  6114.722222  2551.790347  1559.0  3719.25  6640.0  8649.25
1986      17.0  5227.235294  2753.959979  1818.0  2835.00  4470.0  8423.00
1987      27.0  5207.925926  2935.874184   481.0  2731.00  4906.0  7684.50
1988      24.0  4906.083333  2992.281141    92.0  2519.75  4313.5  7197.75
1989      16.0  4165.062500  3025.906839   381.0  1986.75  3450.0  5978.75
1990      14.0  5439.714286  2881.050835   730.0  2846.25  6459.0  7706.00
1991      19.0  5474.421053  3196.126011   117.0  2968.50  5245.0  8459.00
1992      16.0  5221.312500  2647.503043    56.0  3754.50  5397.5  7435.50
1993      19.0  5288.736842  2523.869336   765.0  3793.00  5184.0  7135.50
1994      26.0  4387.346154  2678.803643   117.0  2214.25  4800.0  6092.75
1995      17.0  5351.176471  2766.235466   444.0  3836.00  5096.0  7344.00
1996      13.0  5886.153846  2921.893018   404.0  4615.00  6541.0  7532.00
1997      25.0  5287.200000  2625.988020    48.0  3480.00  5943.0  7613.00
1998      27.0  5432.148148  2915.473938   434.0  2764.00  6162.0  7934.50
1999      21.0  4426.952381  3046.969158   499.0  1145.00  4441.0  6702.00
2000      14.0  6275.714286  3569.845082   511.0  3263.25  7671.0  9233.75
2001      17.0  5672.529412  3085.905178   648.0  2726.00  6932.0  8461.00
2002      18.0  4717.277778  2531.113096    95.0  2992.75  4622.5  6632.00
2003      17.0  4370.470588  3174.660614   404.0  2386.00  3274.0  7902.00
2004      17.0  4580.117647  3311.038166    58.0  1175.00  4978.0  6962.00
2005      18.0  4443.777778  3174.137763   305.0  1606.75  4682.5  6940.75
2006      24.0  4293.916667  2493.559180   142.0  3069.25  3582.0  6071.75
2007      21.0  5046.904762  2617.639698  1424.0  2913.00  5033.0  7161.00
2008      12.0  3728.666667  2738.674873   728.0  1579.75  2891.0  5508.75
2009      29.0  4874.206897  2272.659524   934.0  2996.00  4884.0  6285.00
2010      19.0  4298.315789  2945.424079   406.0  1834.00  3583.0  6956.50
2011      19.0  5571.473684  2527.496398  1282.0  3341.00  5972.0  7435.00
2012      14.0  4965.571429  2516.703696   604.0  2772.25  5644.0  6282.00
2013      24.0  5591.791667  2320.500320   157.0  4371.25  5558.5  7457.25
2014      25.0  4692.960000  2658.468552   440.0  3052.00  4354.0  6662.00
2015      18.0  5512.944444  2382.334285  1787.0  3980.75  5767.5  7061.25
2016      27.0  4353.296296  2635.956516   451.0  2367.50  3930.0  6050.50
2017      11.0  4877.818182  3012.019815   723.0  2890.50  4005.0  7809.50
2018      19.0  5895.421053  2759.492532   522.0  4047.00  5547.0  8256.00
2019      25.0  4531.200000  3018.392425     1.0  1971.00  4200.0  7903.00
2020      18.0  5890.777778  2875.202981   131.0  4368.00  6203.0  8363.50
2021      17.0  4288.235294  2529.074597   275.0  2304.00  3921.0  6472.00
2022       2.0  8895.000000    31.112698  8873.0  8884.00  8895.0  8906.00

            max
Founded
1970     9212.0
1971     9950.0
1972     9890.0
1973     9915.0
1974     9716.0
1975     9188.0
1976     9728.0
1977     9237.0
1978     9277.0
1979     9652.0
1980     9592.0
1981     8635.0
1982     9088.0
1983     8145.0
1984     9917.0
1985     9665.0
1986     9376.0
1987     9469.0
1988     9510.0
1989     9666.0
1990     8677.0
1991     9661.0
1992     9151.0
1993     8897.0
1994     9505.0
1995     9808.0
1996     9655.0
1997     8904.0
1998     9941.0
1999     9751.0
2000     9952.0
2001     9737.0
2002     9852.0
2003     9709.0
2004     9684.0
2005     9013.0
2006     8738.0
2007     9419.0
2008     9616.0
2009     8887.0
2010     9656.0
2011     9434.0
2012     8491.0
2013     9329.0
2014     9686.0
2015     9723.0
2016     9497.0
2017     9044.0
2018     9569.0
2019     9774.0
2020     9286.0
2021     9089.0
2022     8917.0

In [231]:
print("Statistische Kennzahlen der Anzahl an Mitarbeitern gruppiert nach Gründungsjahr (gedreht):")
print(orgs_df.groupby("Founded")["Number of employees"].describe().transpose())

Statistische Kennzahlen der Anzahl an Mitarbeitern gruppiert nach Gründungsjahr (gedreht):
Founded         1970         1971         1972         1973         1974  \
count      22.000000    18.000000    24.000000    20.000000    13.000000
mean     4858.545455  5479.666667  4332.833333  5064.600000  4254.384615
std      2674.516347  3135.106340  3067.927918  2802.089885  2524.911666
min       313.000000    38.000000    68.000000   795.000000   168.000000
25%      3246.750000  3468.000000  1743.000000  3274.000000  3081.000000
50%      4902.000000  6077.500000  3986.000000  4709.500000  3389.000000
75%      6653.750000  7735.750000  6839.750000  6804.000000  5247.000000
max      9212.000000  9950.000000  9890.000000  9915.000000  9716.000000

Founded         1975         1976         1977         1978         1979  ...  \
count      25.000000    22.000000    12.000000    11.000000    18.000000  ...
mean     5299.960000  4640.909091  3696.083333  4261.727273  4361.444444  ...
std      2931.864516  3017.683311  3152.877227  2957.485760  3291.074636  ...
min        36.000000  1018.000000   321.000000    28.000000   361.000000  ...
25%      3238.000000  2487.500000  1519.500000  2145.500000   960.750000  ...
50%      5650.000000  3849.000000  2300.000000  4953.000000  3772.000000  ...
75%      7663.000000  5584.500000  6594.750000  6147.500000  7558.250000  ...
max      9188.000000  9728.000000  9237.000000  9277.000000  9652.000000  ...

Founded         2013         2014         2015         2016         2017  \
count      24.000000    25.000000    18.000000    27.000000    11.000000
mean     5591.791667  4692.960000  5512.944444  4353.296296  4877.818182
std      2320.500320  2658.468552  2382.334285  2635.956516  3012.019815
min       157.000000   440.000000  1787.000000   451.000000   723.000000
25%      4371.250000  3052.000000  3980.750000  2367.500000  2890.500000
50%      5558.500000  4354.000000  5767.500000  3930.000000  4005.000000
75%      7457.250000  6662.000000  7061.250000  6050.500000  7809.500000
max      9329.000000  9686.000000  9723.000000  9497.000000  9044.000000

Founded         2018         2019         2020         2021         2022
count      19.000000    25.000000    18.000000    17.000000     2.000000
mean     5895.421053  4531.200000  5890.777778  4288.235294  8895.000000
std      2759.492532  3018.392425  2875.202981  2529.074597    31.112698
min       522.000000     1.000000   131.000000   275.000000  8873.000000
25%      4047.000000  1971.000000  4368.000000  2304.000000  8884.000000
50%      5547.000000  4200.000000  6203.000000  3921.000000  8895.000000
75%      8256.000000  7903.000000  8363.500000  6472.000000  8906.000000
max      9569.000000  9774.000000  9286.000000  9089.000000  8917.000000

[8 rows x 53 columns]

DATAFRAME - Daten analysieren

In [232]:
print("Anzahl der Zeilen und Spalten:")
print(orgs_df.shape)

Anzahl der Zeilen und Spalten:
(1000, 9)

In [233]:
print("Einzigartige Werte in der Spalte Country:")
print(orgs_df["Country"].unique())

Einzigartige Werte in der Spalte Country:
['Western Sahara' 'Algeria' "Cote d'Ivoire" 'United States of America'
 'Denmark' 'Norfolk Island' 'Uzbekistan' 'Israel' 'Syrian Arab Republic'
 'Angola' 'Iran' 'Afghanistan' 'Bulgaria' 'French Southern Territories'
 'Timor-Leste' 'Serbia' 'Hungary' 'Canada' 'Yemen' 'Jamaica'
 'Marshall Islands' 'Greenland' 'Iraq' 'Bhutan' 'Thailand' 'Guadeloupe'
 'Maldives' 'Seychelles' 'Myanmar'
 'Antarctica (the territory South of 60 deg S)' 'Liechtenstein'
 'Falkland Islands (Malvinas)' 'Jersey' 'Palestinian Territory' 'Botswana'
 'Christmas Island' 'Chad' 'Puerto Rico' 'Suriname' 'Sri Lanka'
 'Heard Island and McDonald Islands' 'Vietnam' 'Namibia'
 'Dominican Republic' 'Chile' 'Nigeria'
 'South Georgia and the South Sandwich Islands' 'Cyprus' 'Bahrain'
 'Indonesia' 'South Africa' 'Egypt' 'Brazil' 'Norway' 'Grenada' 'Bahamas'
 'Morocco' 'Samoa' 'Czech Republic' 'Peru' 'Lesotho' 'Qatar' 'Lithuania'
 'Central African Republic' 'American Samoa'
 'Holy See (Vatican City State)' 'Turkmenistan' 'Mozambique' 'Lebanon'
 'Antigua and Barbuda' 'Tonga' 'Guam' 'Guyana'
 "Lao People's Democratic Republic" 'Eritrea' 'Cocos (Keeling) Islands'
 'Burundi' 'Venezuela' 'Nepal' 'Brunei Darussalam' 'Micronesia' 'Comoros'
 'Tunisia' 'Belarus' 'Senegal' 'France' 'Philippines' 'Djibouti'
 'Singapore' 'British Indian Ocean Territory (Chagos Archipelago)' 'Oman'
 'Solomon Islands' 'Malaysia' 'Korea' 'El Salvador' 'Saudi Arabia'
 'Rwanda' 'Ecuador' 'New Zealand' 'Tanzania' 'Portugal' 'India'
 'United Kingdom' 'Georgia' 'Vanuatu' 'Congo' 'Azerbaijan' 'Somalia'
 'Tuvalu' 'Svalbard & Jan Mayen Islands' 'Sudan' 'Nauru'
 'French Polynesia' 'Costa Rica' 'Kazakhstan' 'Taiwan' 'Haiti'
 'Switzerland' 'Moldova' 'French Guiana' 'Gambia' 'Zimbabwe' 'Benin'
 'Croatia' 'Nicaragua' 'Cambodia' 'Swaziland' 'Pakistan' 'Ethiopia'
 'Colombia' 'Tajikistan' 'Libyan Arab Jamahiriya' 'Austria'
 'United Arab Emirates' 'Argentina' 'Guatemala' 'Uganda' 'Cayman Islands'
 'Faroe Islands' 'Ukraine' 'Netherlands Antilles' 'Kyrgyz Republic'
 'Uruguay' 'Germany' 'United States Minor Outlying Islands' 'Aruba'
 'Saint Martin' 'China' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'United States Virgin Islands'
 'Turks and Caicos Islands' 'Kenya' 'Mauritius' 'Mexico'
 'Russian Federation' 'Malawi' 'Barbados' 'Guinea-Bissau' 'Cook Islands'
 'Slovenia' 'Niger' 'Saint Helena' 'Cape Verde' 'Niue' 'Italy'
 'Pitcairn Islands' 'Papua New Guinea' 'Guernsey' 'Cameroon' 'Gabon'
 'Greece' 'Australia' 'Finland' 'Gibraltar' 'Jordan' 'Andorra'
 'Sao Tome and Principe' 'Spain' 'Anguilla' 'Estonia' 'Palau'
 'Wallis and Futuna' 'Mayotte' 'Ghana' 'Honduras' 'Macedonia' 'Monaco'
 'Togo' 'Sierra Leone' 'Kiribati' 'Zambia' 'Mauritania' 'Romania' 'Macao'
 'Montserrat' 'Isle of Man' 'Liberia' 'Martinique' 'Bangladesh'
 'Luxembourg' 'Netherlands' 'Bouvet Island (Bouvetoya)' 'Belgium'
 'Saint Barthelemy' 'Sweden' 'Trinidad and Tobago'
 'Northern Mariana Islands' 'Cuba' 'Mali' 'British Virgin Islands'
 'Latvia' 'Hong Kong' 'Albania' 'Saint Lucia' 'Bolivia' 'Poland'
 'Montenegro' 'San Marino' 'Tokelau' 'Japan' 'Madagascar' 'Turkey' 'Malta'
 'New Caledonia' 'Saint Kitts and Nevis' 'Burkina Faso' 'Fiji' 'Iceland'
 'Mongolia' 'Reunion' 'Dominica' 'Ireland' 'Slovakia (Slovak Republic)'
 'Guinea' 'Panama' 'Belize' 'Armenia']

In [234]:
print("Duplikate in der Spalte Name:")
print(orgs_df["Name"].duplicated().sum())

Duplikate in der Spalte Name:
12

In [235]:
print("Duplikate entfernen (über alle Spalten hinweg):")
print(orgs_df.drop_duplicates)

Duplikate entfernen (über alle Spalten hinweg):
<bound method DataFrame.drop_duplicates of      Index  Organization Id                       Name  \
0        1  E84A904909dF528                 Liu-Hoover
1        2  AAC4f9aBF86EAeF              Orr-Armstrong
2        3  ad2eb3C8C24DB87                  Gill-Lamb
3        4  D76BB12E5eE165B                Bauer-Weiss
4        5  2F31EddF2Db9aAE                Love-Palmer
..     ...              ...                        ...
995    996  e5CEc38aa9A580b              Bullock Group
996    997  cEF9B4675E4bBd0                  Mason Inc
997    998  9abEb8aaFd25E04           Houston and Sons
998    999  de5Fc71DE825bFc              Olson-Solomon
999   1000  3ddb89ecD83B533  Maddox, Owen and Shepherd

                          Website                   Country  \
0     http://www.day-hartman.org/            Western Sahara
1        https://www.chapman.net/                   Algeria
2                 http://lin.com/             Cote d'Ivoire
3    https://gillespie-stout.com/  United States of America
4             https://kramer.com/                   Denmark
..                            ...                       ...
995   https://medina-bernard.com/              Turkmenistan
996     https://franco-walls.com/  United States of America
997             http://mcgee.com/                     Kenya
998             https://koch.com/   Cocos (Keeling) Islands
999     https://www.hamilton.com/                    Guinea

                                      Description  Founded  \
0    Ergonomic zero administration knowledge user     1980
1          Ergonomic radical budgetary management     1970
2        Programmable intermediate conglomeration     2005
3                Synergistic maximized definition     2015
4                  Optimized optimizing moderator     2010
..                                            ...      ...
995            Public-key scalable conglomeration     1998
996                Distributed exuding initiative     2015
997            Stand-alone multi-state neural-net     1981
998                  Virtual responsive moderator     2013
999        Reactive bottom-line pricing structure     2019

                         Industry  Number of employees
0               Online Publishing                 6852
1                 Import / Export                 7994
2               Apparel / Fashion                 5105
3                           Dairy                 9069
4           Management Consulting                 6991
..                            ...                  ...
995                Wine / Spirits                 6547
996               Law Enforcement                 9723
997   Civic / Social Organization                 5355
998  Investment Banking / Venture                 3825
999                     Animation                 4467

[1000 rows x 9 columns]>

DATAFRAME - Daten manipulieren

In [236]:
print("Numerische Spalten:")
print(orgs_df.select_dtypes(include=[np.number]).columns)

Numerische Spalten:
Index(['Index', 'Founded', 'Number of employees'], dtype='object')

In [237]:
print("Nicht-numerische Spalten:")
print(orgs_df.select_dtypes(exclude=[np.number]).columns)

Nicht-numerische Spalten:
Index(['Organization Id', 'Name', 'Website', 'Country', 'Description',
       'Industry'],
      dtype='object')

In [238]:
print("Numerische Spalte mit Wert multiplizieren:")
orgs_df["Number of employees Multiplied"] = orgs_df["Number of employees"] * 1000
print(orgs_df["Number of employees Multiplied"].head())

Numerische Spalte mit Wert multiplizieren:
0    6852000
1    7994000
2    5105000
3    9069000
4    6991000
Name: Number of employees Multiplied, dtype: int64

In [239]:
print("Nicht numerische Spalte in Großbuchstaben umwandeln:")
orgs_df["Country"] = orgs_df["Country"].str.upper()
print(orgs_df["Country"].head())

Nicht numerische Spalte in Großbuchstaben umwandeln:
0              WESTERN SAHARA
1                     ALGERIA
2               COTE D'IVOIRE
3    UNITED STATES OF AMERICA
4                     DENMARK
Name: Country, dtype: object

DATAFRAME - Daten mittels Funktionen manipulieren

In [240]:
def land_vor_name_schreiben(row):
    return row["Country"] + " - " + row["Name"]

print("Neue Spalte mit Land vor Name:")
orgs_df["Country - Name"] = orgs_df.apply(land_vor_name_schreiben, axis=1)
print(orgs_df["Country - Name"].head())

Neue Spalte mit Land vor Name:
0               WESTERN SAHARA - Liu-Hoover
1                   ALGERIA - Orr-Armstrong
2                 COTE D'IVOIRE - Gill-Lamb
3    UNITED STATES OF AMERICA - Bauer-Weiss
4                     DENMARK - Love-Palmer
Name: Country - Name, dtype: object

In [242]:
def anzahl_mitarbeiter_kategorie(row):
    if row["Number of employees"] < 100:
        return "Klein"
    elif row["Number of employees"] < 1000:
        return "Mittel"
    else:
        return "Groß"
    
print("Neue Spalte mit Kategorie der Anzahl an Mitarbeitern:")
orgs_df["Employee category"] = orgs_df.apply(anzahl_mitarbeiter_kategorie, axis=1)
print(orgs_df.groupby("Employee category").size())

Neue Spalte mit Kategorie der Anzahl an Mitarbeitern:
Employee category
Groß      907
Klein      12
Mittel     81
dtype: int64